name: Build Android and iOS
on:
  push:
    branches:
      - dev
jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - name: Install npm dependencies
        run: |
          npm ci
      - name: Run tests
        run: |
          npm test && npx tsc
      - name: Audit deps
        run: npm run audit-deps