name: Android

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
      run_number:
        type: string
        required: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: 'npm'
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-modules-
      - name: Install Expo & EAS CLI
        run: npm install -g expo-cli eas-cli
      - name: Install dependencies
        run: npm ci -f
      - name: Create .env
        env:
          ENV_FILE: ${{ secrets.ENV_FILE }}
        run: |
          echo $ENV_FILE >> .env
      - name: EAS Build Android
        run: |
          eas build --platform android --profile production --non-interactive
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
          VERSION: ${{ inputs.version }}
          RUN_NUMBER: ${{ inputs.run_number }}
          
      