name: Semantic Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: 'npm'
      - uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ hashFiles('package-lock.json') }}
      - name: Install npm dependencies
        run: |
          npm ci
      - name: Run tests
        run: |
          npm test && npx tsc
      - name: Audit deps
        run: npm run audit-deps
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4.1.0
        id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Increase build
        run: |
          echo "GITHUB_RUN_NUMBER_WITH_OFFSET=$(($GITHUB_RUN_NUMBER+440))" >> $GITHUB_ENV
    outputs:
      release_published: ${{ steps.semantic-release.outputs.new_release_published }}
      release_version: ${{ steps.semantic-release.outputs.new_release_version }}
      run_number: ${{ env.GITHUB_RUN_NUMBER_WITH_OFFSET }}

  android:
    if: ${{ needs.release.outputs.release_version }}
    uses: ./.github/workflows/google-play.yml
    needs: release
    with:
      version: ${{ needs.release.outputs.release_version }}
      run_number: ${{ needs.release.outputs.run_number }}
    secrets: inherit
    permissions:
      id-token: write
      contents: read

  ios:
    if: ${{ needs.release.outputs.release_version }}
    uses: ./.github/workflows/app-store.yml
    needs: release
    with:
      version: ${{ needs.release.outputs.release_version }}
      run_number: ${{ needs.release.outputs.run_number }}
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    

